<header class="bg-[#213448] text-[#ECEFCA] py-20">
    <div class="container mx-auto px-4">
        <div class="max-w-2xl mx-auto text-center">
            <h1 class="text-3xl md:text-4xl lg:text-5xl font-medium mb-6">EspeciESP</h1>
            <p class="text-[#94B4C1] text-lg md:text-xl mb-8">Protege el presente, preserva el futuro</p>
        </div>
    </div>
</header>